.upper-nav {
  padding-bottom: 10px;
}

.about-section {
  margin: 60px 15px;
  text-align: center;
}

.about-section > h1 {
  font-size: 1.5rem;
  font-family: 'Cocogoose', sans-serif;
  color: var(--secondary);
  padding-bottom: 10px;
  text-align: center;
}

.about-text {
  font-family: 'Cocogoose', sans-serif;
  font-size: 11vw;
  line-height: 12vw;

  /* background-image: url('../images/bg-text-overlay.png'); */
  text-transform: uppercase;

  /* background-clip: content-box; */

  /* -webkit-background-clip: text; */
  color: rgb(223, 28, 28);
  opacity: 0.8;

  /* background-position: center; */

  /* background-repeat: no-repeat; */
}

.about-desc {
  padding: 25px 20px;
  border: 3px solid rgb(245, 241, 241);
  border-radius: 4px;
  margin-top: 20px;
  z-index: 100;
  background-color: hsl(0, 0%, 100%);
}

.about-article > h3 {
  font-size: 1.1rem;
  opacity: 0.6;
}

.about-desc > p {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  opacity: 0.8;
}

.about-article {
  padding: 12px;
  margin: 0 0 10px;
  text-align: center;
  padding-bottom: 50px;
}

.about-article > span {
  text-decoration-line: underline;
  font-size: 24px;
  opacity: 0.8;
}

.about-middle {
  margin: 20px 30px;
}

.middle-context > h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  line-height: 12vw;
  font-size: 40px;
  font-weight: 400;
}

.middle-context > span {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  opacity: 0.6;
}

.about-logo {
  padding: 15px 20px;
  border: 1px solid rgb(206, 202, 202);
  border-radius: 5px;
  margin: 10px;
}

.about-logo > span {
  font-size: 8vw;
  line-height: 8vw;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.about-logo > p {
  width: 80%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.about-logo > p::after {
  content: '';
  width: 75%;
  height: 2px;
  background-color: grey;
  display: block;
  opacity: 0.3;
}

.about-logo > p::before {
  content: '';
  width: 75%;
  height: 2px;
  background-color: grey;
  display: block;
  opacity: 0.3;
}

hr {
  border: 1px solid rgb(209, 206, 206);
  opacity: 0.5;
  margin: 40px 0;
}

.middle {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 5px 20px;
}

.middle > h2 {
  font-size: 1.7rem;
  opacity: 0.6;
}

.middle > p {
  padding: 20px;
  font-weight: 400;
}

.code-summit {
  background-image: url('../images/summit/bg_02.jpg');
  padding: 40px;
  border: 1px solid grey;
  text-align: center;
  margin: 20px 0 20px 80px;
  color: #fff;
  height: 30vh;
  width: 70%;
}

.code-summit > p {
  font-size: 32px;
  margin: 0;
}

.code-summit > span {
  font-size: 24px;
}

.last-section {
  background-color: var(--primary);
}

.last-section > h4 {
  font-size: 6vw;
  color: #fff;
  text-align: center;
  margin: 10px;
  padding-top: 20px;
}

.last-section > h4::after {
  content: '';
  width: 50px;
  background-color: red;
  height: 3px;
  display: block;
  margin: 10px auto;
}

.partners {
  margin: 15px 20px;
  text-align: center;
  padding-bottom: 30px;
}

.partners > span {
  font-size: 28px;
  color: #fff;
  padding: 0 15px;
  opacity: 0.6;
}

.footer {
  display: flex;
  gap: 20px;
  margin: 40px 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer > span {
  font-size: 32px;
  line-height: 7vw;
}

.footer > p {
  font-family: 'Lato', sans-serif;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .about-section > h1 {
    display: none;
  }

  .about-text {
    font-size: 4vw;
    line-height: 5vw;
    width: 80%;
    margin: 0 auto;
  }

  .about-desc {
    width: 60%;
    margin: 20px auto;
  }

  .about-desc > p {
    font-size: 16px;
  }

  .about-article > h3 {
    font-size: 14px;
    opacity: 1;
  }

  .about-article > span {
    font-size: 20px;
  }

  .about-middle {
    margin: 5px 20px;
    text-align: center;
  }

  .middle-context > h2 {
    font-size: 1.6vw;
    margin-top: 0;
    margin-bottom: 0;
  }

  .middle-context > span {
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 10px;
  }

  .about-logo {
    padding: 15px 20px;
    border: 1px solid rgb(206, 202, 202);
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
  }

  .about-logo > span {
    font-size: 4vw;
    line-height: 3vw;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
  }

  .about-logo > p {
    width: 70%;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 10px auto;
  }

  .about-logo > p::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: grey;
    display: block;
    opacity: 0.3;
    margin: 0 auto;
  }

  .about-logo > p::before {
    content: '';
    width: 30%;
    height: 2px;
    background-color: grey;
    display: block;
    opacity: 0.3;
    margin: 0 auto;
  }

  .last-section > h4 {
    font-size: 26px;
    margin: 0;
    opacity: 0.6;
  }

  .last-section > h4::after {
    content: '';
    width: 40px;
    height: 2px;
    background-color: red;
    display: block;
    margin: 18px auto;
    font-weight: 300;
  }

  .last-section {
    padding: 30px 40px;
  }

  .partners > span {
    font-size: 1.6rem;
    padding: 20px;
    margin: 40px;
  }

  .footer {
    display: flex;
    gap: 60px;
    margin: 15px 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .footer > span {
    font-size: 20px;
    line-height: 2vw;
  }

  .footer > p {
    margin-top: 15px;
  }

  .middle > h2 {
    font-weight: 600;
    margin-top: 0;
  }

  .middle > p {
    margin-top: 10px;
  }

  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-left: 40px;
    width: 90%;
  }

  .code-summit {
    width: 30%;
    margin: 8px;
  }

  .code-summit > p {
    font-size: 20px;
  }

  .code-summit > span {
    font-size: 18px;
  }
}
